# ignore all bin directories
# matches "bin" in any subfolder
bin/
m4/
build-test/
.deps/
.libs/
# ignore all target directories
target/
autom4te.cache/
#ignore test driver
test-driver
#ignore compiled tests
tests/check_stack
tests/check_stack.exe
tests/check_stack.trs
# ignore Makefiles
Makefile
src/Makefile
tests/Makefile
Makefile.in
src/Makefile.in
tests/Makefile.in
#ignore autoconf files
config.log
config.status
config.guess
config.sub
aclocal.m4
configure
libtool
compile
depcomp
missing
install-sh
ltmain.sh
# ignore all files ending with ~
*.po
*.o
*.plo
*.log
*.la
*.sub
*.status
*.guess
*.in 
*.lo
