# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/
autom4te.cache
# ignore Makefiles
Makefile
src/Makefile
tests/Makefile
# ignore all files ending with ~
*.po
*.o 
