Checks:             'cert-*,performance-*,readability-*,-readability-braces-around-statements'
WarningsAsErrors:   'cert-*,performance-*,readability-*,-readability-braces-around-statements'
FormatStyle:        file
