[submodule "deps/mdnsd"]
	path = deps/mdnsd
	url = https://github.com/Pro/mdnsd.git
[submodule "deps/ua-nodeset"]
	path = deps/ua-nodeset
	url = https://github.com/OPCFoundation/UA-Nodeset
	branch = latest
[submodule "deps/mqtt-c"]
	path = deps/mqtt-c
	url = https://github.com/LiamBindle/MQTT-C.git
	branch = master
