# exclude
*.log
*.guess
.in
*.sub
.status
.m4
*.lo
*.o
*.a
*.la
*.so*
*.Po
*.cgen
*.hgen
*.pyc
*.gcno
*.gcda
*.swp
*.cmake
.dirstamp
/bin
m4
/autom4te.cache
Makefile
Makefile.in
/stamp-h1
/config.status
config.log
/config.h
/aclocal.m4
/config/
/config.h.in
/configure
/install-sh
/compile
/depcomp
/ltmain.sh
/autogen.sh
/configure
/missing
/html
/doc/html/*
/doc/Doxyfile
/doc/doxyfile.stamp
*~
GIT_REVISION
SVN_REVISION
libtool
.deps
.libs
.gcno
.gcda
coverage_report
.project
.cproject
.pydevproject
/INSTALL
/.settings
.autotools
test-driver
include/opcua.h
include/ua_namespace_0.h
src/opcua.c
src/ua_namespace_0.c
tests/check_builtin
tests/check_create
tests/check_decode
tests/check_delete
tests/check_encode
tests/check_memory
tests/check_namespace
tests/coverage
tests/**/CMakeFiles
Testing
Makefile
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
doc/
doc_src/
examples/
/exampleClient
/exampleClient_legacy
/src_generated/
**/build
/cmake-build*
/tools/certs/certs/*
Pipfile
Pipfile.lock
.vscode
**/libxml2

# clangd cache
.cache/

# project local vim settings
.vim/
