[submodule "deps/mdnsd"]
	path = deps/mdnsd
	url = https://github.com/Pro/mdnsd.git
[submodule "deps/ua-nodeset"]
	path = deps/ua-nodeset
	url = https://github.com/OPCFoundation/UA-Nodeset
	branch = v1.04
[submodule "deps/mqtt-c"]
	path = deps/mqtt-c
	url = https://github.com/LiamBindle/MQTT-C.git
	branch = master
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "deps/lwip"]
	path = deps/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git/
