#!/usr/bin/make -f

export DH_VERBOSE = 1

export DEB_BUILD_OPTIONS=parallel=4

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DUA_NAMESPACE_ZERO=FULL -DUA_ENABLE_AMALGAMATION=OFF -DUA_PACK_DEBIAN=ON

override_dh_auto_test:
	dh_auto_test -- ARGS+=--output-on-failure

override_dh_strip:
	dh_strip --dbg-package=open62541-dbg

%:
	dh $@ --buildsystem=cmake --parallel


